@import "tailwindcss";
@import "./base.css";
@import "./animations.css";

body {
  min-height: 100vh;
}

.main-container {
  width: 100%;
  h1 {
    font-size: 2em;
    line-height: 1.3;
    font-weight: bold;
    text-align: center;
  }
  .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .cart-button {
    transition: transform 200ms ease-out;
    &:active {
      transform: scale(.85);
    }
    .cart-counter {
      &.run {
        animation: grow-counter 150ms linear;
      }
    }
  }
}
